.root {
	display: grid;
	grid-template-columns: 240px 1fr;
	grid-gap: 40px;
	align-items: start;

	@include less1280w {
		grid-template-columns: 200px 1fr;
		grid-gap: 32px;
	}

	@include less1024w {
		grid-template-columns: 1fr;
	}
}

//

.sidebar {
	display: grid;
	justify-items: start;
	grid-gap: 12px;
}

.tagList {
	display: grid;
	justify-items: start;
	grid-gap: 8px;

	@include less1024w {
		display: flex;
		flex-wrap: wrap;
		grid-gap: 0;

		> * {
			margin: 0 8px 8px 0;
		}
	}
}

.sidebarMoreButton {
	@include expand-click-area;
	font-size: 14px;
}

//

.content {
	display: grid;
	grid-gap: 80px;
}

.list {
	display: grid;
	grid-gap: 60px;
}
