.root {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 0 40px;
	width: 100%;
	max-width: 1280px;
	min-height: 100vh;
}

//

.header {
	display: flex;
	align-items: center;
	height: 100px;
}

.headerRight {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	grid-gap: 40px;
	margin: 0 0 0 auto;
}

//

.content {
	flex-grow: 1;
	padding: 40px 0 80px;
}

//

.footer {
	display: grid;
	grid-gap: 64px;
	padding: 40px;
	font-size: 14px;
	border-top: 2px solid var(--border-color);
}

.footerTags {
	display: grid;
	grid-template-columns: repeat(auto-fill, 16.667%);
	grid-gap: 20px;
}

.footerBottom {
	display: flex;
}

.footerBottomRight {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 20px;
	margin: 0 0 0 auto;
}
