.root {
	display: grid;
	grid-template-columns: 320px 1fr;
	grid-gap: 40px;
	height: 320px;

	@include less1280w {
		grid-template-columns: 240px 1fr;
		grid-gap: 32px;
	}

	@include lessThatWidth(800px) {
		grid-template-columns: 1fr;
		height: auto;
	}
}

.profilePhoto {
	@include lessThatWidth(800px) {
		max-width: 320px;
	}

	@include lessThatWidth(480px) {
		max-width: 240px;
	}
}

.details {
	display: flex;
	flex-direction: column;
	grid-gap: 16px;
}

.name {
	color: var(--text-color);
	font-size: 36px;
	font-weight: var(--semi-bold-font-weight);

	&:hover {
		color: var(--accent-color);
		text-decoration: none;
	}
}

.bio {
	@include article-text;
	flex: 1 1 0;
	min-height: 0;
	font-size: 18px;
	overflow: hidden;

	@include less1280w {
		font-size: 16px;
	}

	@include lessThatWidth(800px) {
		flex-basis: auto;
	}
}

.footer {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: space-between;

	@include lessThatWidth(520px) {
		grid-auto-flow: row;
		grid-gap: 20px;
		justify-items: start;
	}
}
